li{
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 70px;
    padding: 10px;
    margin: 15px 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
p{
    flex-basis: 0;
    flex-grow: 1;
}
span{
    font-size: 22px;
    padding: 5px;
}
button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 25px;
    height: 25px;
    transition: 1s ease;
}
button:hover{
    font-size: 24px;
}
input{
    width: 15;
    height: 15;
    margin-right: 10px;
    margin-top: 15px;
}